.posts li {
  border-top: solid 1px #E9E9E9;
}

.post {
  margin-top: 0;
  padding-bottom: 18px;
  padding-top: 18px;
}

.post img {
  height: 50px;
  width: 50px;
}

.post-body {
  width:100%;
}

.post-body h5 {
  margin: 0;
}

.post-tools {
  color: grey;
  display: block;
}

.post-comments li {
  background-color: #edeff4;
  border: none;
}

.post-comments li:first-child {
  background: none;
  line-height: 5px;
}

.post-comments li:nth-child(2) {
  margin-top: 0;
}

.post-comments li:nth-child(n + 3) {
  margin-top: 1px;
}

.post-comment {
  line-height: 13px;
  padding: 5px 5px 4px 5px;
}

.post-comment img {
  height: 32px;
  width: 32px;
}

.post-comment.comment-box {
  width: 100%;
}

.post-comment-body {
  width: 100%;
}

.post-comment-body textarea {
  resize: vertical;
  height: 20px;
  width: 75%;
  margin: 0;
  padding-top: 1px;
  padding-bottom: 0;
  font-size: 12px;
  border-radius: 2px;
}

.post-comment-tools {
  color: gray;
  display: block;
  line-height: 16px;
  padding-top: 2px;
}

/* Message box */

.message-box {
  background-color: #fdfdfd;
  border-radius: 7px;
}

.message-box form {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.message-box form textarea {
  resize: vertical;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  height: 65px;
}

.message-box-tools {
  height: 31px;
}