<div ng-controller="UserCtrl">
  <span ng-show="isAuthenticated">{{welcome}}</span>
  <form ng-show="!isAuthenticated" ng-submit="submit()">
    <input ng-model="user.username" type="text" name="user" placeholder="Username" />
    <input ng-model="user.password" type="password" name="pass" placeholder="Password" />
    <input type="submit" value="Login" />
  </form>
  <div>{{error}}</div>
  <div ng-show="isAuthenticated">
    <a ng-click="callRestricted()" href="">Shh, this is private!</a>
    <br>
    <div>{{message}}</div>
    <a ng-click="logout()" href="">Logout</a>
  </div>
</div>